<%- include('header'); -%>

    <div class="box">

        <% newListItem.forEach(function(items){  %>

            <form action="/delete" method="post">

                <div class="item">
                    <input type="checkbox" name="checkBox" value = "<%=items._id %>"  onChange="this.form.submit()" >
                    <p>
                        <%= items.name %>
                    </p>
                </div>
                <input type="hidden" name="listName" value="<%= listTitle %>">
            </form>
            <% }) %>

                <form class="item"action="/" method="post">
                    <label for="todo">
                        <input type="text" name="newItem" id="todo" placeholder="New Item" autocomplete="off">
                    </label>
                    <button type="submit"  name="list" value="<%= listTitle  %>" >+</button>
                </form>
    </div>

    <%- include('footer'); -%>